@model RSSref.Models.MainResource
@using System.Web.Mvc.Html;

@{
    ViewBag.Title = "AddResource";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Add new resource</h2>
<asp:RadioButton ID="MainCollection_Id" runat="server" />

<br />
@using (Html.BeginForm("AddResource", "Home", FormMethod.Post))
{

    <p>Выберите категорию: </p>

    <fieldset>

        @Html.DropDownListFor(model => model.MainCollection_Id, ViewBag.collections as SelectList, new { @class = "form-control" })
        <br />
        <div class="form-group">
            <p>Введите имя ресурса: </p>
            <input type="text" class="form-control" name="ResourceName" value="" />

            <p>Введите адрес: </p>
            <input type="text" class="form-control" name="URL" value="" />
        </div>

        <p><input id="submitButton" class="btn btn-primary" type="submit" value="Подтвердить" /></p>
    </fieldset>
}